@use '../layout/' as *;

header {
    @include area-padding;

    .logo {
        margin-bottom: 1.5rem;

        > img {
            max-width: 40vw;
            margin: 0 1px;
        }

        @media all and (min-width: 1024px) {
            margin-right: 2rem;
            margin-left: 2rem;
        }
    }

    @media all and (min-width: 1180px){
        max-width: 70vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}